<!DOCTYPE html>
<html>
  <head>
    <title>Mustation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="welcome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if signed_in? %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% end %>
  </div>

  <%= yield %>
  </body>
</html>
